*{margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;}
/* body{
    height: calc(100vh - 100px);
    margin-top: 100px;
    overflow-y: auto;
} */
header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 99;
    height: 100px;
    background-color: white;
    font-size: 0.8rem;
    
}
.menu-left {
    flex: 0 0 40%;
    display: flex;
    height: 100px;
    margin-left: 15px;
    justify-content: space-between;
    align-items: center; 
}
.menu-right > a, .menu-left > a{
    color: black;
    text-decoration: none;
    margin-inline: 5px;
}
.menu-right {
    flex: 0 0 30%;
    height: 100px;
    display: flex;
    margin-right: 15px;
    align-items: center;
    justify-content: space-between;
}
.menu-right :last-child{
    display: inline-block;
    padding: .5em .7em;
    color: white;
    background-color: #0061FF;
    border: #0061FF;

}
.logo {
    display: block;
    height: 30px;
    width: 150px;
    margin-right: 10px;
}

.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    background-color: white;
    font-weight: bold;
    width: 200px;
    left: 0;
    top: calc(100% + .25rem);
    padding: 1rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.dropdown > .link-menu:hover + .dropdown-menu{
    opacity: 1;
}




/* SECTION 1 */
.section1{
    padding-top: 100px;
    width: 100%;
    background-color: #B4D0E7;
    /* max-width: 1000px;
    margin-inline: auto; */
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 1200px;
    margin-inline: auto;
    
}
h1{
    font-weight:800;
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 4rem;
    padding-inline: 129px;
}
.container-p{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    flex: 0 1 30%;
    height: 100%;
    margin-right: 20px;
    /* margin-top: 50px; */
    /* padding-inline: 25px; */
}
.container-p > a{
    color: black;
    margin-top: 120px;
    font-size: 40px;
    
}
.button1{
    
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 150px;
    padding: 10px;
    background-color: #0061FF;
    border: #0061FF;
    color: white;
}
.img-container{
    height: 100%;
    display: flex;
    flex: 0 0 60%;
    object-fit: contain;
    margin-bottom: -100px;
    
}
img{
    aspect-ratio: 16/9;
    width: 100%;
}
/* SECTION 2 */
.section2{
    padding-top: 40px;
    width: 100%;
    height: 100%;
    padding-inline: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
    align-self: flex-start;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;  
}
.radio1{
    margin-left: 20px;
    margin-right: 5px;
}
.radio-container{align-self: flex-start;}
.container-card{
    display: flex;
    align-self: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 30px;
}
.card1{
    border: 1px solid lightgrey;
    width:calc(100% / 3 - 20px) ;
    /* height: 800px; */
    padding-inline: 1rem;
    margin-bottom: 3rem;
}
.utente-singolo > h4{
    margin: 5px;
    text-align: center; 
}

.info-prezzi h3, h4, h5{
    margin-bottom: 10px;
    margin-top: 10px;
}
.info-prezzi{
    padding-bottom: 2rem;
}
.button-card{
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 10px;
    background-color: #0061FF;
    border: #0061FF;
    color: white;
}
.link{
    font-size: 0.8rem;
    margin-bottom: 50px;
}
.info-punti:last-child{
    margin-bottom: 20px;
}
.info-punti p{
    /* padding-left: 1rem; */
    margin-top: 30px;
    font-size: 0.8rem;
}
.info-punti i{
    color: #0061FF;
}
.info-punti{
    margin-top: 20px
} 
/* SECTION TEAM */
.sec-team{
    display: flex;
    flex-direction: column;   
    height: 200px;
    margin-inline: 200px;
    border: 2px solid lightgray;
}
.titolo-team{
    border-bottom: 1px solid lightgray; 
    width: 100%;
    text-align: center;
}
.contact{

    display: flex;
    flex: 0 0 30%;
}
.enterprise-text{
    flex: 0 0 60%;
    align-self: flex-start;
}
.contact > a{
    font-size: 0.8rem;
    margin-top: 20px;
    margin-right: 20px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #0061FF;
    border: #0061FF;
    height: 2rem;
}
.enterprise{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    /* width: 100%;
    height: 100%; */
}
.enterprise h4, p{
    margin-top: 20px;
    font-size: 0.8rem;
}

.partner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 200px;
}
.container-partner {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}
.img-box{
    display: flex;
    flex: 0 0 50%;
    object-fit: contain;
}
.partner-dbox{
    flex: 0 0 40%;
}
.img-box > img{
    aspect-ratio: 1/1;
    height: 400px;
    width: 100%;
}
.partner-dbox > p{
    margin-bottom: 50px;
}
.partner-dbox > a{
    font-size: 0.8rem;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: black;
    border: 2px solid lightgray;
    background-color: white;
}
/* SECTION OP */
.operazioni{
    margin-inline: 200px;
}
.operazioni > h4{
    font-size: 1.5rem;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
    
}
.container-op{
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.op-card{
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: calc(100% / 3 - 50px);
    margin-bottom: 20px;
    padding-inline: 30px;
}
.team-ut-buisness{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-inline: 200px;
}

.team-ut-buisness > a{
    font-size: 0.8rem;
}

.cont-designit{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.design-left, .design-center, .design-right{
    height: 400px;
    width: calc(100% / 3);
} 
.design-left, .design-right{
    display: flex;
    flex-wrap: wrap;
}
.icon{
    display: flex;
    align-items: center;
    fill: white;
    padding-inline: 1rem;
    width: calc(100% / 2);
    height: 200px;
}
.icon1{background-color: lightgreen;}
.icon2{background-color: brown;}
.icon3{background-color: rgb(48, 149, 212);}
.icon4{background-color: red;}
.icon5{background-color: blue;}
.icon6{background-color: yellow;}
.icon7{background-color: lightskyblue;}
.img-icon{filter: invert(1);}
.design-center{background-color: lightgray;}

.line{
    width: 50px;
    border-top: 1px solid #CCC;
}
.design-center{
    padding: 20px;
}
.designit-img{
    width: 50%;
    height: 30%;
}
.prova-free{
    background-color: lightblue;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.prova-free :first-child{
    margin-top: 75px;
    font-weight: bold;
    font-size: 30px;
    color: brown; 
}
.prova-free :last-child{
    font-size: 0.8rem;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    padding-inline: 20px;
    background-color: white;
    margin-right: 100px;
}
.faq-div {
    /* text-align: center; */
    max-width: 1000px;
    height: 200px;
    margin-inline: 200px;
    margin-bottom: 100px;
    margin-top: 50px;
}
.faq-div h3{
   
    text-align: center;
    /* margin-top: 30px; */
    margin-bottom: 50px;
}
li {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 30px;
    list-style: none;
}
.faq i{ 
    margin-left: 480px;
}
.display-none{
    display: none;
}
li:hover p{
    display: block;
}
.column-pink {
    color: white;
    height: 200;
    flex: 0 0 calc(100% / 5);    
}

.column-pink h6{
    margin-top: 1.2rem;
}
.column-pink h3{
    margin-top: 50px;
    margin-bottom: 30px;
}
.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
} 
.lingue{
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
    color: lightgrey;
    padding-inline: 200px;
    font-size: 0.8rem;
}
.line2 {
    margin-bottom: 30px;
    width: 80px;
    border-top: 1px solid #CCC;
}


